// Link Animation ____________________________________________________________________________
.link_animation{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.1em;
    transition: all 0.5s;
}
.link_animation:hover{
    background-size: 100% 0.1em;
}
// Scroll Animations _________________________________________________________________________

// .scroll_animation{
//     opacity: 0;
//     transform: translateY(15%);
// }
// .scroll_animation.element-show {
//     opacity: 1;
//     transition: all 1s;
//     transform: translateY(0%);
// }

// .scroll_animation_right{
//     opacity: 0;
//     transform: translateX(30%);
// }
// .scroll_animation_right.element-show {
//     opacity: 1;
//     transition: all 1s;
//     transform: translateX(0%);
// }

// .scroll_animation_left{
//     opacity: 0;
//     transform: translateX(-30%);
// }
// .scroll_animation_left.element-show {
//     opacity: 1;
//     transition: all 1s;
//     transform: translateX(0%);
// }
