// Module Imports
@import "scss-modules/reboot.scss";
@import "scss-modules/animations.scss";
@import "scss-modules/bootstrap-custom.scss";

// Custom Styles For Homepage
.main-header-container{
    background-color: grey;
    height: 75px;
    .nav-social-icon{
        width: 40px;
        border-radius: 50%;
        transition: 0.3s all;
        &:hover{
            transform: scale(1.1);
            box-shadow: 0 0 10px black;
        }
    }
    .header-logo-img{
        width: 50px;
        transition: 0.3s all;
        &:hover{
            transform: scale(1.1);
        }
    }
    ul{
        list-style: none;
    }
}

.form-send{
    width: 1000px;
    margin-top: 100px;
    .question-title{
        background-color: black;
        color: white;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 0;
    }
    .labels-container{
        padding: 20px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        display: flex;
        gap: 30px;
        .input-field-form{
            padding: 4px 8px;
            background: rgb(229, 226, 226);
            border: 1px solid black;
        }
    }
    .step {
        display: none;
    }
    .step.active {
        display: flex;
        flex-direction: column;
    }
    .step-buttons{
        display: flex;
        justify-content: end;
        gap: 20px;
        padding: 20px;
        background-color: grey;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid black;
    }
}
