// Module Imports
@import "scss-modules/reboot.scss";
@import "scss-modules/animations.scss";
@import "scss-modules/bootstrap-custom.scss";

// Custom Styles For Homepage
.main-header-container{
    background-color: grey;
    height: 75px;
    .header-logo-img{
        width: 50px;
        transition: 0.3s all;
        &:hover{
            transform: scale(1.1);
        }
    }
    ul{
        list-style: none;
    }
}