/*Reboot*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.btn, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus, button:focus {
  outline: none;
}

a[href^=tel] {
  color: #000;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  max-width: 100%;
  min-width: 320px;
  font-weight: 300;
  font-size: 1.1vw;
  overflow-x: hidden;
}

.li {
  list-style: none;
}

.link_animation {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1em;
  transition: all 0.5s;
}

.link_animation:hover {
  background-size: 100% 0.1em;
}

.bold {
  font-weight: bold;
}

.main-header-container {
  background-color: grey;
  height: 75px;
}
.main-header-container .header-logo-img {
  width: 50px;
  transition: 0.3s all;
}
.main-header-container .header-logo-img:hover {
  transform: scale(1.1);
}
.main-header-container ul {
  list-style: none;
}

.form-send {
  width: 1000px;
  margin-top: 100px;
}
.form-send .question-title {
  background-color: black;
  color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
}
.form-send .labels-container {
  padding: 20px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  gap: 30px;
}
.form-send .labels-container .input-field-form {
  padding: 4px 8px;
  background: rgb(229, 226, 226);
  border: 1px solid black;
}
.form-send .step {
  display: none;
}
.form-send .step.active {
  display: flex;
  flex-direction: column;
}
.form-send .step-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 20px;
  background-color: grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid black;
}
