// Module Imports
@import "scss-modules/reboot.scss";
@import "scss-modules/animations.scss";
@import "scss-modules/bootstrap-custom.scss";

// Custom Styles For Homepage
.main-header-container{
    height: 80px;
    .main-header-logo{
        width: auto;
        height: 151px;
        position: absolute;
        background-color: transparent;
        top: 1px;
    }
    .top-header-line{
        width: 100%;
        height: 40px;
        padding: 0 5% 0 15%;
        .header-quote{
            font-weight: 600;
            font-size: 1vw;
        }
        .social-media-icons{
            display: flex;
            gap: 10px;
            .social-media-icon{
                width: 28px;
                height: 28px;
                transition: 0.3s all;
                border-radius: 50%;
                border: 2px solid transparent;
                &:hover{
                    transform: scale(1.1);
                    border: 2px solid rgb(255, 217, 0);;
                }
            }
        }
    }
    .bottom-header-line{
        width: 100%;
        height: 40px;
        padding: 0 5% 0 15%;
        background: black;
        border-bottom: 2px solid white;
        color: white;
        .navigation-header{
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
            .active{
                color: rgb(255, 217, 0) !important;
                font-weight: 600;
                text-decoration: underline;
                letter-spacing: 2px;
                padding-bottom: 2px;
            }
            li{
                padding-bottom: 4px;
            }
        }
        .phone-number-header{
            height: 40px;
            display: flex;
            align-items: center;
            background-color: rgb(255, 217, 0);;
            padding: 0 30px 0 20px;
            transition: 0.3s all;
            color: rgb(0, 0, 0);
            font-weight: 600;
            .call-icon{
                width: 30px;
                height: 30px;
                display: none;
                margin-right: 5px;
            }
            &:hover{
                text-decoration: underline;
                .call-icon{
                    display: block;
                }
            }
        }
    }
}

// Styles - BG nad Form
.main-bg-with-form{
    background-image: url(./../assets/main-bg.png);
    background-size: cover;
    .main-bg-title{
        color: white;
        font-weight: 700;
        text-shadow: 0 0 10px black;
        font-size: 64px;
        margin-left: 15%;
        margin-top: 50px;
        span{
            color: rgb(255, 217, 0);
        }
    }
}
.form-send{
    width: 1000px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 22px;
    background-color: white;
    @media (max-width: 960px){
        width: 90%;
        margin-top: 10px;
    }
    .question-title{
        background-color: rgb(255, 217, 0);
        color: white;
        text-shadow: 0 0 10px black;
        text-align: center;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 0;
    }
    .labels-container{
        padding: 20px;
        display: flex;
        gap: 30px;
        width: 100%;
        justify-content: space-between;
        .input-field-form{
            padding: 10px;
            background-color: rgb(247, 243, 243);
            border-radius: 4px;
            box-shadow: 5px 5px 10px rgba(70, 68, 68, 0.763);
            border: 1px solid black;
        }
        .form-labels-style{
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 2px solid black;
            padding: 10px;
            background-color: rgb(247, 243, 243);
            border-radius: 4px;
            box-shadow: 5px 5px 10px rgba(70, 68, 68, 0.763);
            &:hover{
                border-color: red;
                cursor: pointer;
                background-color: rgb(205, 205, 205);
            }
            input{
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
        }
        .upload-style{
            background-color: rgb(247, 243, 243);
            border-radius: 4px;
            box-shadow: 5px 5px 10px rgba(70, 68, 68, 0.763);
            padding: 20px;
            font-weight: 600;
            &:hover{
                border-bottom: 2px solid red;
                background-color: rgb(205, 205, 205);
            }
        }
    }
    .step {
        display: none;
    }
    .step.active {
        display: flex;
        flex-direction: column;
    }
    .step-buttons{
        display: flex;
        justify-content: end;
        gap: 20px;
        padding: 20px;
        background-color: rgb(0, 0, 0);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid black;
        button{
            border-radius: 8px;
            border: 2px solid rgb(255, 255, 255);
            transition: 0.3s all;
            @media (max-width: 960px){
                width: 45%;
            }
            &:nth-child(1){
                background-color: rgb(185, 5, 5);
                color: white;
                &:hover{
                    background-color: rgb(255, 0, 0);
                }
            }
            &:nth-child(2){
                background-color: rgb(0, 23, 128);
                color: white;
                &:hover{
                    background-color: rgb(21, 143, 219);
                }
            }
            &:nth-child(3){
                background-color: green;
                color: white;
                &:hover{
                    background-color: rgb(5, 202, 5);
                }
            }
        }
    }
}
